<!doctype html>
<title>{{ session.app_name }}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui.css') }}">
<script type=text/javascript src="{{url_for('static', filename='charts.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery-ui.js') }}"></script>

<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<div class=page>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }} ">log out</a>  {{ session.logged_in['username'] }}
  {% endif %}
  </div>
  <h1>{{ session.app_name }}</h1>
  <h3>PyDash: A simple application Dashboard</h3>
  {% if session.logged_in %}
  <div class=nav>
		  <a href="{{ url_for('show_dashboard') }}">Dashboard</a>
		  <a href="{{ url_for('show_charts') }}">Chartsboard</a>
  </div>
 {% endif %}

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
  

</div>


