{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  
<script>

	
	
	function datepick(){
		//$('.dateinput').datepicker();
	}
	
	$(document).ready(function() {
		
		$('body').on('focus',".date-form-field", function(){$(this).datepicker();});
		//$('.add-entry').on('click','.date-form-field', function() {$(this).datepicker();}); 
		
		current=$('#q_select').val()
		$('#pardiv_'+current).css("display","Block");
		
		$('#q_select').on('change',function(){
			$('.metadata').css("display","None");
			$('#pardiv_'+this.value).css("display","Block");
			$('.dateinput').datepicker();
			
			//alert('selection change: '+this.value);
			
		});//select.onchange.close
	});//document.ready close
</script>
	<form action="{{ url_for('exec_query') }}" method=post class=add-entry>
	<dl>
		<div class="form-title">Select query:</div>
		<dd></dd><select class="form-field" name=query_sel id="q_select">
		{% for q in queries %}
		  <option value={{ q.name }}>{{ q.name }}</option>
		{% endfor %}
		</select>
		<div class="empty"></div>
		{% for q in queries %}
		{% if q.parnum>0 %}
			<div id='pardiv_{{ q.name }}' style="display:None" class="metadata">
			{% for p in q.parmap %}
					<dd>
					<div class="form-title">{{ p.name }}</div>
					</dd>
					{% if p.paramType == 'DATE' %}
					<input class="date-form-field" type=text name={{ p.name }}  onclick="datepick()" >

					
					{% elif p.paramType == 'COMBO'%}
					<select class="form-field" name={{p.name}}>
						{% for vals in p.combovalues %}
							<option value={{ vals }}>{{ vals }}</option>
						{% endfor %}
					</select>

					{% else %}
					<input class="form-field" type=text name={{ p.name }} >
					{% endif %}
				
		    {% endfor %}
		    </div>
		 {% endif %}
		 {% endfor %}
		<div class="empty"></div>
		<dt><input  class="submit-button" type=submit value=Execute>
	</dl>
	</form>
	
<table class="CSSTableGenerator">
  <tr>
	{%for n in colNum %}
    <td>{{ colNames[n] }}</td>
     {% endfor %}
  </tr>
   {% if entries %}
		  {% for entry in entries %}
		<tr>
			{%for n in colNum %} 
			<td>{{ entry[n] }}</td>
			{% endfor %}
		</tr>
		 {% endfor %}
	</table>
	{% endif %}

{% endif %}

{% endblock %}
