{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
window.setTimeout(function(){ document.location.reload(true); }, 3000);
</script>

  {% if session.logged_in %}
	<form action="{{ url_for('exec_query') }}" method=post class=add-entry>
	<dl>
		<dt>Select query:
		<dd></dd><select name=query_sel>
		{% for q in queries %}
		  <option value={{ q }}>{{ q }}</option>
		{% endfor %}
		</select>
		<br>
		<dt><input type=submit value=Execute>
	</dl>
	</form>
	
<table style="width:100%">
  <tr>
	{%for n in colNum %}
    <th>{{ colNames[n] }}</th>
     {% endfor %}
  </tr>
   {% if entries %}
		  {% for entry in entries %}
		<tr>
			{%for n in colNum %} 
			<td>{{ entry[n] }}</td>
			{% endfor %}
		</tr>
		 {% endfor %}
	</table>
	{% endif %}

{% endif %}

{% endblock %}
